.corps
{
    width: 100%;
    height:100%;
}

.erreur
{
    text-align: center!important;
    align-items: center;
    margin-top:50px;     
}
table 
{
    margin : auto;
    margin-top: 100px;
    table-layout: fixed;
    width: 50%;
    height:100%;
    font-size: 3rem;
    border-collapse: collapse;
    text-align: center;
}


td
{
    border: 5px solid black;
    background-color: antiquewhite;
}


.proposition
{
    margin:auto;
    margin-top:15px;
    text-align: center!important;
    align-self: center;
}

.input
{
    font-size:1.5rem;
    height:3rem;
    width:15%;
    border-radius:6px;
}

.bouton
{
    display:block!important;
    margin:auto;
    background-color:#209cee;
    border-color:transparent;
    color:#fff;
    font-size:1.5rem;
    height:3rem;
    border-radius:6px;
    margin-top:15px;
}




.survie
{
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

.vie
{
    text-align: center;
    width: 50%;
}

.score
{
    text-align: center;
    width: 50%; 
}



.big50
{
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}