.corps
{
    width: 100%;
    height:100%;
    margin-bottom: 5%;
}

.erreur
{
    text-align: center!important;
    align-items: center;
    margin-top:50px;     
}
table 
{
    margin : auto;
    margin-top: 100px;
    table-layout: fixed;
    width: 50%;
    height:100%;
    font-size: 3rem;
    border-collapse: collapse;
    text-align: center;
}


td
{
    border: 5px solid black;
    background-color: antiquewhite;
}


.proposition
{
    margin:auto;
    margin-top:15px;
    text-align: center!important;
    align-self: center;
}

.input
{
    font-size:1.5rem;
    height:3rem;
    width:15%;
    border-radius:6px;
}


label span {
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-top: 1%;
    font-size:1rem;
    margin:auto;
  }



.bouton
{
    display:block!important;
    margin:auto;
    background-color:#209cee;
    border-color:transparent;
    color:#fff;
    font-size:1.5rem;
    height:3rem;
    border-radius:6px;
    margin-top:15px;
}




.survie
{
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5%;
}

.vie
{
    text-align: center;
    width: 50%;
}

.score
{
    text-align: center;
    width: 50%;
}



.big50
{
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5%;
}


.clm
{
    width:100%;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 5%;
}

/* ---------------------- Tout ce qui est en lien avec l'expérience --------------------- */

#progress-box{
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: 20px;
    font-size: 1.5rem;
}

#progress-bar{
    height: 30px;
    width: 350px;
    background-color: darkcyan;
}

#current-progress{
    height: 30px;
    background-color: darkblue;
}

#progress-data{
    font-weight: bold;
    align-self: flex-end;
}

#level{
    font-weight: bold;
    align-self: flex-start;
}

#username{
    font-weight: bold;
    align-self: flex-start;
}

#progress-box-position{
    display: flex;
    flex-direction: row-reverse;
}
/* ------------------------------------------------------------------------------------------ */