.corps
{
    width: 100%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
}

/*=======================Barre_cotes========================*/
.barre_gauche
{
    height:700px;
    width: 8%;
    background-color: midnightblue;
    overflow-x: hidden;
    text-align: center;
}
  
.barre_gauche a 
{
    padding: 16px 18px 16px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
  
.barre_gauche a:hover 
{
    color: orange;
}

.barre_droite
{
    height:700px;
    width: 8%;
    padding: right;
    margin-right:-8px;
    background-color: midnightblue;
    overflow-x: hidden;
    text-align: center;
}
  
.barre_droite a 
{
    padding: 16px 18px 16px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
}
  
.barre_droite a:hover 
{
    color: orange;
}

.deco_barres
{
    margin-left: 20px;
    border-collapse : separate;
    border-spacing : 25px;
}
/*=========================================================*/


/*=======================Barres_défilantes=================*/

.choix_mode_jeu
{
    width:100%;
    text-align: center;
    margin-top:50px;
}



.option_classique
{
    width:100%;
    margin-top: 50px;
    text-align: center;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}

.choix_nblettres
{
    width:50%;
    margin-top: 20px;
}

.choix_nbessais
{
    width:50%;
    margin-top: 20px;
}



/*===================Style_de_la_barre==================*/
select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #23b499;
 }
/*=========================================================*/

/*=========================================================*/





/*========================Mode_de_jeu======================*/
 .nombre_joueur
{
    width:100%;
    text-align: center;
    margin-top: 100px;
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
}


/*=======Permet_de_centrer_les_élements_d'une_table=======*/
table 
{
    margin: auto;
}
/*=========================================================*/


.solo
{
    width: 50%;
    
}

.boutton_solo
{
    display: inline-block;
    background-color: rgb(47, 137, 255);
    border-radius: 10px;
    border: 4px double #cccccc;
    font-size: 1.5rem;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}

.multi
{
    width: 50%;
}

.boutton_multi
{
    display: inline-block;
    background-color: rgb(255, 141, 47);
    border-radius: 10px;
    border: 4px double #cccccc;
    font-size: 1.5rem;
    padding: 20px;
    width: 200px;
    cursor: pointer;
    margin: 5px;
}


/*=========================================================*/







/*========================Bandeau_inf======================*/

footer
{
    background-color:midnightblue;
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -12px;
    height:125px;
    display:flex;  
    align-items:center; /*Centre au centre(milieu) verticalement*/
    justify-content:flex-start; /*Centre au début horizontalement*/
}

.dev
{
    color: aliceblue;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*=========================================================*/