#realised{
    text-align: left;
    color: darkgreen;
    font-weight: bold;
}

#unrealised{
    text-align: left;
    color: darkred;
    font-weight: bold;
}

.all-quest-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.quest-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightskyblue;
    border: solid;
    border-color: black;
    padding: 10px;
    margin: 30px;
    border-radius: 20px;
    width: 400px;
    height: 150px;
}

.quest-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.quest-xp{
    text-align: right;
    font-weight: 550;
}

.title-quest{
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.the-quest{
    text-align: center;
    padding: 10px;
}