<!DOCTYPE html>
{% extends "index.html" %}

<html>

{% block head %}
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/regle.css" />
        <title>Règle du Worlde</title>
    </head>
{% endblock %}

{% block body %}
    <body>
    
    	<h1 class="titre"> Comment jouer à Wordle Deluxe </h1>
    	<p> Notre site vous propose en plus du Wordle Classique, différents modes de jeu avec chacun ses propres règles et spécificitées afin que tous y trouvent leur compte.
    	</p>
    	
    	<h2 class="titre2"> Règle classique </h2>
    	<p>Explication des règles classique.</p>
    	
    	<h2 class="titre2"> Règle Survie </h2>
    	<p>Explication des règles survie.</p>
    	
    	<h2 class="titre2"> Règle BIG 50 </h2>
    	<p>Explication des règles big50.</p>   
    	
    
    
    </body>	
{% endblock %}

</html>
