<!DOCTYPE html>
{% extends "index.html" %}

<html>

{% block head %}
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/regle.css" />
        <title>Règle du Worlde - Worlde DELUXE</title>
    </head>
{% endblock %}

{% block body %}
    <body>
    
    	<h1 class="titre"> Comment jouer à Wordle Deluxe </h1>
    	<p> Notre site vous propose en plus du Wordle Classique, différents modes de jeu avec chacun ses propres règles et spécificitées pour votre plus grand plaisir.
    	</p>
    	
    	<h2 class="titre2"> Règle classique </h2>
    	<p style="font-size: medium;"> Vous devez trouver un mot de langue française. Chaque mot que vous proposez doit être de la même longueur que le mot à trouver.</p>
    	<p style="font-size: medium;"> Après chaque proposition, l'ordinateur vous affiche des couleurs pour chacune des lettres proposées dans votre mot :</p>
		<p style="font-size: medium;margin-left: 210px;"> - rouge si la lettre est au même endroit que dans le mot à deviner </p>
		<p style="font-size: medium;margin-left: 210px;"> - jaune si la lettre est dans le mot à deviner mais pas au bon endroit </p>
		<p style="font-size: medium;margin-left: 210px;"> - sinon la lettre n'est pas dans le mot à deviner  </p>
		<p style="font-size: medium;"> Chaque partie est limitée par un nombre d'essais pour trouver le mot. Le nombre d'essais correspond au nombre de lignes du tableau.</p>
		<p style="font-size: medium;"> La partie se termine si vous trouvez le mot ou si vous ne le trouvez pas après le nombre d'essais maximum.</p>
		<p style="font-size: medium;margin-bottom: 50px;"> Vous pouvez changer le nombre de lettres du mot à trouver ainsi que le nombre d'essais à trouver depuis la page paramètres.</p>

    	<h2 class="titre2"> Règle Survie </h2>
    	<p style="font-size: medium;"> Les règles pour deviner le mot sont les mêmes que dans le mode classique.</p>
		<p style="font-size: medium;"> Cependant vous avez toujours 6 essais pour trouver le mot et la longueur du mot est aléatoire. </p>
		<p style="font-size: medium;"> Vous disposez de 3 vies, vous perdez une vie lorsque vous ne trouvez pas le mot à deviner. La partie s'arrête lorsque vous n'avez plus de vie.</p>
    	<p style="font-size: medium;margin-bottom: 50px;"> Plus vous trouvez le mot rapidement, plus vous gagnez de points de score.</p>

    	<h2 class="titre2"> Règle BIG 50 </h2>
    	<p style="font-size: medium;"> Les règles pour deviner le mot sont les mêmes que dans le mode classique.</p>
		<p style="font-size: medium;"> Cependant vous avez toujours 6 essais pour trouver le mot et la longueur du mot est aléatoire. </p> 
    	<p style="font-size: medium;"> Vous disposez d'un nombre total de 50 essais et à chaque proposition le nombre d'essais total diminue. La partie s'arrête lorsque vous avez utilisé vos 50 essais.</p>
		<p style="font-size: medium;margin-bottom: 50px;"> Votre score correspond au nombre de mots que vous trouvez lors de la partie.</p>
    
		<h2 class="titre2"> Règle Contre la montre </h2>
    	<p style="font-size: medium;"> Les règles pour deviner le mot sont les mêmes que dans le mode classique.</p>
		<p style="font-size: medium;"> Cependant vous avez toujours 6 essais pour trouver le mot et la longueur du mot est aléatoire. </p> 
		<p style="font-size: medium;"> Vous diposez de 5 minutes pour trouver un maximum de mots. La partie s'arrête quand le temps est écoulé.</p>
		<p style="font-size: medium;margin-bottom: 50px;"> Votre score correspond au nombre de mots que vous trouvez lors de la partie.</p>

    </body>	
{% endblock %}

</html>
