<!DOCTYPE html>
{% extends "index.html" %}

<html>

{% block head %}
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/histo.css" />
        <title>Historique - Worlde DELUXE</title>
    </head>
{% endblock %}

{% block body %}
    <body>
    
   <button class="bouton" onclick="window.location.href = 'statistiques';">Retour aux Statistiques</button>

    <h1 class="titre"> Historique </h1>
    
    {% if histo==[] %}
    	<P> Vous n'avez pas encore joué de partie ! </p>
    {% endif %}
    
    {% for u in histo %}
    	{% if u[5]!="Classique" %}
    		<div class="box_yellow">
		<p>Date : {{u[4]}} 
		<br>Mode de jeu : {{u[5]}}
		{% if u[3]!=0 %}
			<br>Score : {{u[3]}}
		{% endif %}
		</p>
		</div>
    	{% elif u[2]!="Victoire" %}
    		<div class="box_red">
		<p>Date : {{u[4]}} 
		<br>Mode de jeu : {{u[5]}}
		<br> {{u[2]}}
		{% if u[3]!=0 %}
			<br>Nombre de coup : {{u[3]}}
		{% endif %}
		<br>Mot à trouver : {{u[6]}}
		</p>
		</div>
	{% else %}
	    	<div class="box_green">
		<p>Date : {{u[4]}}
		<br>Mode de jeu : {{u[5]}}
		<br> {{u[2]}}
		{% if u[3]!=0 %}
			<br>Nombre de coup : {{u[3]}}
		{% endif %}
		<br>Mot à trouver : {{u[6]}}
		</p>
		</div>
	{% endif %}	

	
     {% endfor %}     
		
{% endblock %}

</html>
