<!DOCTYPE html>
<html>
<head>
    <link href='../static/index.css' rel="stylesheet" type="text/css">
    <link rel="icon" href="../static/logo.ico">
    {% block head %}
    {% endblock %}
    <title></title>
</head>

<body>
    <div class="box-title-nav">
        <div class="box-title">
            <h1>
                <div class="title">
                    WORDLE DELUXE™
                </div> 
            </h1>
        </div>
        <nav>
            <ul>
                <li><a href="accueil">Accueil</a></li>
                <li><a href="comment-jouer">Comment jouer</a></li>
                <li><a href="statistiques">Statistiques</a></li>
                <li><a href="parametres">Paramètres</a></li>
                {% if not current_user.is_authenticated %}
                    <li><a href="connexion">Connexion</a></li>
                    <li><a href="inscription">Inscription</a></li>
                {% else %}
                    <li><a href="profil">Profil</a></li>
                    <li><a href="deconnexion">Déconnexion</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
    <div class="content">
        <div class="content-inside">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    <div class="footer">
        <h4 style="color:gold">&copy Groupe E28</h4>
    </div>
</body>

</html>
