{% extends "index.html" %}
{% block head %}
    <link href='../static/connexion-inscription.css' rel="stylesheet" type="text/css">
    <title>Inscription - Worlde DELUXE</title>
{% endblock %}

{% block body %}
    <div class="form-contener">
        <form method="POST" action="/inscription">
            <div class="form-categories"> 
                <div class="form-name" >
                    <label for="username">Identifiant:</label>
                </div>
                <input type="username" name="username" placeholder="Nom d'utilisateur" autofocus="">
            </div>
            <div class="form-categories">
                <div class="form-name">
                    <label for="password">Mot de passe:</label>
                </div>
                <input type="password" name="password" placeholder="Mot de passe">
            </div>
            <div class="form-categories">
                <div class="form-name" >
                    <label for="email">Adresse électronique:</label>
                </div>
                <input type="email" name="email" placeholder="exemple@gmail.com">
            </div>
            <div class="button-contener">
                <button>S'inscrire</button>
            </div>
        </form>
        <div>
            <!-- Flash -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}
