{% extends "index.html" %}
{% block head %}
    <link href='../static/inscription.css'>
{% endblock %}

{% block body %}
    <div>
        <form method="POST" action="/inscription">
            <input class="input" type="username" name="username" placeholder="Nom d'utilisateur" autofocus="">
            <input class="input" type="password" name="password" placeholder="Mot de passe">
            <input class="input" type="email" name="email" placeholder="exemple@gmail.com">
            <button class="bouton">Inscription</button>
        </form>
        <div>
            <!-- Flash -->
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for msg in messages %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}