<!DOCTYPE html>
<html>
<head>
    <link href='../static/inscription.css' rel="stylesheet" type="text/css">
    <title>LanguageLearning</title>
</head>

<body>
    <div>
        <form method="POST" action="/inscription">
            <input class="input" type="username" name="username" placeholder="Nom d'utilisateur" autofocus="">
            <input class="input" type="password" name="password" placeholder="Mot de passe">
            <input class="input" type="email" name="email" placeholder="exemple@gmail.com">
            <button class="bouton">Inscription</button>
        </form>    
    </div>

    <div>
        <!-- Flash -->
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{ msg }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</body>

</html>