{% extends "index.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/parametres.css"/>
{% endblock %}


{% block body %}
    <div class="corps">
        <div class="barre_gauche">
            <table class = "deco_barres">
                <tr><td><img src="../static/W_d_g.png"></td></tr>
                <tr><td><img src="../static/O_d_g.png"></td></tr>
                <tr><td><img src="../static/R_d_g.png"></td></tr>
                <tr><td><img src="../static/D_d_g.png"></td></tr>
                <tr><td><img src="../static/L_d_g.png"></td></tr>
                <tr><td><img src="../static/E_d_g.png"></td></tr>
            </table>
        </div>
        <div class = "corps_sans_barres">
            <div class ="nombre_joueur">
                <div class ="solo">
                    <table>
                        <tr><td><h3>Singleplayer</h3></td></tr>
                        <tr><td><img src="../static/solo.png"></td></tr>
                        <tr><td><button class ="boutton_solo">Sélectionner</button></td></tr>
                    </table>
                </div>
                <div class ="multi">
                    <table>
                        <tr><td><h3>Multiplayer</h3></td></tr>
                        <tr><td><img src="../static/multi.png"></td></tr>
                        <tr><td><button class ="boutton_multi">Sélectionner</button></td></tr>
                    </table>
                </div>
            </div>
            <div class ="choix">
                <div class = "choix_nblettres">
                    <h3>Choix du nombre de lettres  :</h3>
                    <div class="select">
                        <select id="format" name="format" required>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                            <option value="6" >6</option>
                            <option value="7" >7</option>
                            <option value="8" >8</option>
                        </select>
                    </div>
                </div>
                <div class = "choix_nbessais">
                    <h3>Choix du nombre d'essais  :</h3>
                    <div class="select">
                        <select id="format" name="format" required>
                            <option value="4" >4</option>
                            <option value="5" >5</option>
                            <option value="6" >6</option>
                            <option value="7" >7</option>
                            <option value="8" >8</option>
                        </select>
                    </div>
                </div>
                <div class = "choix_mode_jeu">
                    <h3>Choix du mode de jeu  :</h3>
                    <div class="select">
                        <select id="format" name="format" required>
                            <option value="classique" >Classique</option>
                            <option value="clm" >Contre la montre</option>
                            <option value="survie" >Survie</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="barre_droite">
            <table class = "deco_barres">
                <tr><td><img src="../static/W_d_d.png"></td></tr>
                <tr><td><img src="../static/O_d_d.png"></td></tr>
                <tr><td><img src="../static/R_d_d.png"></td></tr>
                <tr><td><img src="../static/D_d_d.png"></td></tr>
                <tr><td><img src="../static/L_d_d.png"></td></tr>
                <tr><td><img src="../static/E_d_d.png"></td></tr>
            </table> 
        </div>
    </div>
    
    <footer>
        <div class='dev'>
            <h4>&copy Groupe E28</h4>
        </div>
    </footer>
{% endblock %}