<!DOCTYPE html>
{% extends "index.html" %}

<html>

{% block head %}
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/stat.css" />
        <title>Statistiques - Worlde DELUXE</title>
    </head>
{% endblock %}

{% block body %}
    <body>
   
   <button class="bouton" onclick="window.location.href = 'historique';">Votre Historique</button>
   <button class="bouton" onclick="window.location.href = 'succes';">Vos Succès</button>
   <button class="bouton" onclick="window.location.href = 'statistiques';">Mode de jeu Classique</button>
   <button class="bouton" onclick="window.location.href = 'statistiques-survie';">Mode de jeu Survie</button>
    
    <h1 class="titre"> Parties Big50 </h1>
      
    	<p class="graph"><img src="static/image.png" class="histogramme" alt="image" title="Histogramme"></p> 
    	<div class="box">
	<p><br>Parties jouées : {{liste[0]}} 
	<br><br>Parties gagnées : {{liste[1]}}
	<br><br>Score moyen : {{liste[4]}}
	<br><br>Meilleur score : {{liste[5]}}
	<br><br>Expérience : {{liste[3]}}
	</p>
	</div>
		
{% endblock %}

</html>
