<!DOCTYPE html>
{% extends "index.html" %}

<html>

{% block head %}
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/stat.css" />
        <title>Statistiques</title>
    </head>
{% endblock %}

{% block body %}
    <body>
   
   <button class="bouton" onclick="window.location.href = 'historique';">Votre Historique</button>
   <button class="bouton" onclick="window.location.href = 'succes';">Vos Succès</button>
   <button class="bouton" onclick="window.location.href = 'statistiques';">Mode de jeu Classique</button>
   <button class="bouton" onclick="window.location.href = 'statistiques-mdj1';">Mode de jeu 1</button>
    
    <h1 class="titre"> Parties MDJ2 </h1>
    
      	<p class="graph"><img src="static/image.png" class="histogramme" alt="image" title="Histogramme"></p> 
    	<div class="box">
	<p><br>Parties jouées : {{liste[0]}} 
	<br><br>Parties gagnées : {{liste[1]}}
	<br><br>Taux de victoire : {{liste[2]}}
	<br><br>Nombre de coups moyen : {{liste[4]}}
	<br><br>Expérience : {{liste[3]}}
	</p>
	</div>
		
{% endblock %}

</html>
