{% extends "index.html" %}
{% block head %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/stat.css" />
    <title>Statistiques - Worlde DELUXE</title>
{% endblock %}

{% block body %}
    <div class="corps">
        <table>
            <tr>
                <td><button class="bouton" onclick="window.location.href = 'historique';">Votre Historique</button></td>
                <td><button class="bouton" onclick="window.location.href = 'statistiques-survie';">Survie</button></td>
                <td><button class="bouton" onclick="window.location.href = 'statistiques-big50';">Big50</button></td>
                <td><button class="bouton" onclick="window.location.href = 'statistiques-clm';">Contre la montre</button></td>
            </tr>
            <tr>
                <td><button class="bouton" onclick="window.location.href = 'succes';">Vos Succès</button></td>
            </tr>
        </table>
        <h1 class="titre"> Parties classiques</h1>
        
        <div class="box_graph">
            <div class="box">
                <div class="box-content">
                    <p>Parties jouées : {{liste[0]}}</p>
                    <p>Parties gagnées : {{liste[1]}}</p>
                    <p>Taux de victoire : {{liste[2]}}</p>
                    <p>Nombre de coups moyen : {{liste[4]}}</p>
                    <p>Meilleur partie : {{liste[5]}}</p>
                    <p>Expérience : {{liste[3]}}</p>
                </div>
            </div>
            <div class="graph">
                <img src="static/image.png" class="histogramme" alt="image" title="Histogramme">
            </div>
        </div>
    </div>
{% endblock %}

