<!DOCTYPE html>
{% extends "index.html" %}

<html>

{% block head %}
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../static/stat.css" />
        <title>Statistiques</title>
    </head>
{% endblock %}

{% block body %}
    <body>
    
    <h1 class="titre"> Parties classiques </h1>
      
    	<p class="graph"><img src="static/image.png" class="graph" width="750" height="450" alt="image" title="Graph"></p> 
	<p><br>Parties jouées : {{liste[0]}} 
	<br><br>Parties gagnées : {{liste[1]}}
	<br><br>Taux de victoire : {{liste[2]}}
	<br><br>Expérience : {{liste[3]}}</p>  
		
{% endblock %}

</html>


