{% extends "index.html" %}
{% block head %}
    <link rel="stylesheet" href="../static/succes.css"/>
    <title>Succès - Worlde DELUXE</title>
{% endblock %}
{% block body %}
    <div class="all-quest-box">
        {% for k in range(length) %}
            {% if quetes_rea[k][3] == 1 %}
                <li>
                    <div class="quest-box">
                        <div class="quest-head">
                            <div id="realised">Réussi</div>
                            <div class="quest-xp">{{quetes[k][3]}} XP</div>
                        </div>
                        <div class="title-quest">{{quetes[k][1]}}</div>
                        <div class="the-quest">{{quetes[k][2]}}</div>
                    </div>
                </li>
            {% else %}
                <li>
                    <div class="quest-box">
                        <div class="quest-head">
                            <div id="unrealised">Non Réussi</div>
                            <div class="quest-xp">{{quetes[k][3]}} XP</div>
                        </div>
                        <div class="title-quest">{{quetes[k][1]}}</div>
                        <div class="the-quest">{{quetes[k][2]}}<div>
                    </div>
                </li>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
